
body {
  /* background: lightblue; */
  background: url('room-image.jpg') no-repeat center center fixed;
}

h1 {
  color: brown;
}

  .bought-food-page-container {
    padding: 20px;
  }
  
  .bought-food-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f0f5f5; 
    padding: 20px;
  }
  
  .bought-food-list {
    list-style-type: none; 
    padding: 0;
  }
  
  .bought-food-item {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  .button {
    background-color: #8B4513; 
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #654321; 
  }
  