
.casino-background {
    min-height: 100vh;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
  }

#h1-title {
    color: gold;
    text-align: center;
    margin: 0;
    padding-top: 25px;
}
#h1-score{
    color: gold;
    text-align: center;
    padding-bottom: 15px;
}


#game-board {
    width: 80vw; /* 80% of the viewport width */
    height: 80vw; /* 80% of the viewport width */
    max-width: 500px; /* Maximum width of 450px */
    max-height: 500px; /* Maximum height of 450px */
    background-color: darkcyan; /* Gray background color */
    margin: 0 auto; /* Center the game board */
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: calc(100% / 9); /* Width of each tile */
    height: calc(100% / 9); /* Height of each tile */
    overflow: hidden;
}

/* styles.css */
.container {
    text-align: center;
    margin-top: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.back-button:hover {
    background-color: #0056b3;
}
