.friend-box{
    width:70%;
    height: 70%;
    display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  /* background-color: pink; */
}

.friend-sidebar{
    width:20%;
    height:100%;
    border-radius: 20px;
    /* border: solid 1.5px #fb611f; */
    margin: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* box-shadow: 3px 3px 10px rgb(150, 150, 150), -4px  -5px 15px rgb(150, 150, 150); */
}

.friend-body{
  width:80%;
  height:100%;
  border-radius: 20px;
  
  border: solid 1.5px #fb611f;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 3px 3px 10px rgb(150, 150, 150), -4px  -5px 15px gainsboro;
        /* box-shadow: 3px 3px 10px rgb(150, 150, 150), -4px  -5px 15px rgb(150, 150, 150); */
}


.side-bar{
    /* width: 20%;
    height: 90%;
    border-radius: 20px; */
    /* box-shadow: 1px 5px 10px gainsboro; */
    /* background-color: rgba(249, 246, 211, 0.292);
    box-shadow: 3px 3px 10px gainsboro, -4px  -5px 15px gainsboro;
    display: flex;
    flex-direction:column;
    justify-content: top; */

    /* align-items: center;  */
    
}
.friend-contents{
   
    margin-left:10px;
    
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 2vmin;
    /* color: rgb(14, 39, 17); */
    color: #fb611f;
    text-align: start;
    /* background-color: #fb611f; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: solid 1.5px #fb611f;
    box-shadow: 3px 3px 10px rgb(150, 150, 150), -4px  -5px 15px gainsboro;
}

.friend-contents:hover{
    /* padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    /* border: solid 1px #1555c4d9; */
    color: #fb611f;
    /* border: solid 2px #fb611f; */
    border-top: solid 2px;
    border-left: solid 2px;
    border-bottom: solid 2px;
    background-color: antiquewhite;
    cursor: pointer;
    /* background-color: #fb611f21; */
}

.list-contents{
    margin-left:10px;
    margin-right:10px;
    /* padding-left: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    /* font-weight: bold; */
    font-size: 2vmin;
    color: black;
    text-align: start;
    /* background-color: #fb611f; */
    border-bottom: solid 1.5px #fb611f;
    /* border-radius: 20px; */
    /* background-color: rgba(125, 121, 121, 0.901); */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border-radius: 20px; */
    border-bottom:solid 2px rgb(88, 171, 92);
    
}

.list-contents-data{
    width:30%;
    margin-left:10px;
    margin-right:10px;
    /* background-color: aquamarine; */
    border-radius: 20px;
    /* border:solid 1px rgb(88, 171, 92); */
}
.color{
    background-color: rgb(88, 171, 92);
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.color1{
    background-color:rgba(4, 89, 225, 0.841);
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.color2{
    background-color: #fb611f;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.middle-friend-box{
    width: 60%;
    height: 100%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
  
    font-family: "Jersey 15", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
  }
  