.profile-info-container {
    position: relative;
    background-color: rgba(255, 165, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
  }
  
  .profile-details {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px; /* Increase the margin between the picture and the name */
  }
  
  .profile-text {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif, cursive;
    font-size: 24px;
  }
  
  .level-box,
  .stats-box,
  .points-box {
    margin-left: 30px;
  }
  
  .level-box span {
    margin-right: 30px; 
  }
  
  .stats-box > div {
    margin-right: 30px;
  }
  
  .points-box {
    font-weight: bold;
  }
  