.wall-post-container {
    background-color: rgba(240, 242, 245, 0.4);
    border-radius: 8px;
    padding: 20px;
  }
  
.text-area {
    width: 50%;
    height: 100px; 
    font-size: 14px; 
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
  
  .post-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #1877f2;
    color: white;
    border: none;
  }
  
  .post {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  