@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Jersey+15&family=Lobster&display=swap');  

.middleChatBox{
    width:60%;
    height: 100%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    background-color: antiquewhite;
    /* background-color: pink; */
    
}

.chat-contents{
    margin: 10px;
    border-radius: 20px;
    height: 100%;
    width:98%;
    overflow:scroll;
    background-color:rgb(241, 241, 241);
    /* border: slolid grey 1px ; */
    /* border: solid 1px black; */
    box-shadow: 3px 3px 5px rgba(220, 220, 220, 0.584);
}

.chat-contents::-webkit-scrollbar{
    background: none;
}
.chat-contents::-webkit-scrollbar-thumb:vertical{
    /* background-color:#b9d5e66b; */
    background-color:#81acc76b;
    height: 10%;
    border-radius: 20px;
}
.chat-contents::-webkit-scrollbar-corner{
    background: none;
}

.chat-Input{
    width:98%;
    height: 10%;
    /* background-color: aqua; */
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

#plus-icon{
   /* width:100%; */
   /* height:100%; */
   width:5%;
   height:100%;
   background-color: #7ea9c3ca;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* padding:10px; */
}
/* .chat-input-box{
    width:100%;
    background-color: aliceblue;
   
   
} */

.chat-Input form{
    /* width:98%;
    height: 10%;
    background-color: aqua;
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; */
    width:95%;
    height:100%;
    background-color: aqua;

}

.message-submit{
    width:100%;
    height:100%;
    /* background-color: #b9d5e66b; */
    /* background-color: rgb(221, 138, 30); */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* border-right: solid 1px black; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border-top:solid 1px black;
    border-bottom :solid 1px black; */
    /* border: solid 1px black; */
}
.message-submit input{
    border-radius: 25px;
    width: 90%;
    border: none;
    background-color: rgb(241, 241, 241);
    margin-left: 10px;
    margin-right: 10px;
    height: 70%;
    padding-top:5px;
    padding-bottom:5px;
    /* border: solid 1px black; */
}
.message-submit ::placeholder{
    margin-left: 10px;
    font-size: 1.5em;
    color: rgb(159, 157, 157);
    font-weight: border;
    text-align: center;
}

/* join, submit icon */
.message-submit button{
    margin:0;
    /* background-color: #81acc76b; */
    border-radius: 20px;
    width: 10%;
    height: 90%;
    border: none;
    padding: 10px;
    position: left;
    margin-right: 10px;
    color: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.chat-receiver{
    width:90%;
    height:10%;
    /* background-color: aqua; */
    position:center;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* margin-bottom: 5px; */
    border-radius: 5px;
    margin: 10px 0px 10px 5px;
    /* background-color:#95a7b26b; */
    /* border: black solid 1px; */
}
/* .chat-receiver .chat-user{
    margin: 5px 10px 5px 5px;
} */

.chat-sender-user{
    border-radius: 20px;
    border:solid 1px black;
    width:80%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0;
}
.chat-receiver-user{
    border-radius: 20px;
    border:solid 1px black;
    width:80%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 3px; */
    /* padding-top:2px; */
    margin: 10px 0 10px 10px;
}
.chat-sender{
    width:100%;
    height:10%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* margin-bottom: 5px; */
    border-radius: 5px;
    margin: 5px 5px 5px 0px;
    /* background-color:#95a7b26b; */
    /* border: black solid 1px; */
}