@import url("https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Jersey+15&family=Lobster&display=swap");

.leftBox {
  font-family: "Jersey 15", sans-serif;
  width: 17%;
  height: 100%;
  border: solid 1px black;
  display: flex;
  /* overflow: scroll;
    scrollbar-color: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 10px;
  position: relative; /* Makes it a positioning context for absolute children */
}
