.leftBox {
  width: 17%;
  height: 100%;
  border: solid 1px black;
  display: flex;
  /* overflow: scroll;
    scrollbar-color: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 10px;
  position: relative; /* Makes it a positioning context for absolute children */
}
