body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 0;
  }
  
.petBox {
   
    width: 60%;
    background-color: transparent;
    height: 50vh;

    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: solid white .5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.petCard {
    margin: 20px;
    width: 300px;
    height: 300px;
    /* background-color:darkorange; */
    border-radius: 20px;
    /* text-align: center; */
}

.info {
    margin: 20px;
    width: 40%;
    height: 50px;
    color: white;
    font-size: 20px;
}
#CHERRY {
    background-image: url('../asset/petA.PNG');
    background-size: cover;
    background-position: center;
}

#CHOCO {
    background-image: url('../asset/petB.PNG');
    background-size: cover;
    background-position: center;
}

#MOMO {
    background-image: url('../asset/petC.PNG');
    background-size: cover;
    background-position: center;
}

p {
    margin: 0;
    color: white;
}